.row {
  background: #fff;
  height: 100%;
  padding: 20px;
}

.qrCode {
  text-align: right;

  img {
    max-height: 20%;
    max-width: 20%;
  }
}

ul {
  padding-left: 25px;
}

.label {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-align: justify;

  &:after {
    content: '';
    display: inline-block;
    height: 0;
    overflow: hidden;
    width: 100%;
  }
}

.content {
  display: inline-block;
  min-height: 30px;
  line-height: 30px;
  vertical-align: 10px;
}

.leftCol {
  border: 1px solid #000;
  height: 80%;
  margin-top: 5%;
  position: relative;

  .deliveryNo {
    position: absolute;
    right: 10px;
    margin-top: 10px;
  }

  .productName {
    font-size: 19px;
    margin-top: 30px;
    text-align: center;
  }

  .name {
    text-decoration: underline;
  }

  .leftList {
    li {
      min-height: 30px;
      line-height: 30px;
      list-style-type: none;
    }
  }

  .label {
    vertical-align: top;
    width: 30%;
  }

  .content {
    border-bottom: 1px solid #000;
    text-align: center;
    width: 60%;
  }

  .qrCode {
    margin: 30px 20px 45px 0;
  }
}

.rightCol {
  .infoWrap {
    display: flex;
  }

  .rightList {
    flex: 5;

    li {
      height: 28px;
      list-style-type: none;
      width: 100%;
    }

    .label {
      width: 35%;
    }

    .content {
      width: 55%;
    }
  }

  .name {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;

    .title {
      margin-right: 5px;
    }
  }

  .qrCode {
    flex: 1;
    margin-right: 29px;
    padding-top: 19px;

    img {
      max-height: 60%;
      max-width: 60%;
    }
  }

  .table {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    margin: 0 auto 10px;
    width: 95%;

    th,
    td {
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      font-size: 12px;
      width: inherit;
    }
  }

  .resultLevel {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #999;
    width: 50px;
  }

  p {
    margin-bottom: 0;
  }
}
